body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0; /* Color de fondo */
  color: #333; /* Color del texto */
}

h1 {
  color: #008080; /* Color del encabezado */
}

img {
  max-width: 100%; /* Ajustar imagen al ancho del contenedor */
  height: auto; /* Ajustar altura automáticamente */
  display: block; /* Evitar espacios adicionales debajo de la imagen */
  margin: 20px auto; /* Margen superior e inferior de 20px, centrar horizontalmente */
  border: 1px solid #ddd; /* Borde de 1px sólido */
  border-radius: 8px; /* Borde redondeado */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
}
